extends layout
block variables
  - var name = "people"
  - var title = page_user.name
block content
  #people
    .avatar
      img(src="#{page_user.avatar}",alt="#{page_user.name}")
    if user && user.name == page_user.name
      .share
        a(class=["sharebtn","todouban", user.douban_access_token?"active":""],href="javascript:;", data-type="douban", title="已绑定豆瓣")
        a(class=["sharebtn","toweibo", user.douban_access_token?"active":""],href="javascript:;", data-type="weibo", title="已绑定微博")
    if pages > 1
      .pages
        if (page - 1) > 0
          a.prev.num(href="?page=#{page-1}") ‹
        div.current
          | #{page}/#{pages}
        if page < pages
          a.next.num(href="?page=#{page+1}") ›

  .favs
    each piece in favs
      .piece(data-id="#{piece.id}")
        if page_user && user && (page_user.id == user.id)
          .del.icon-times

        .piece-body
          .content
            a(href="/piece/#{piece.id}",target="_blank") #{piece.content.replace('\n','<br />')}
          .addtime
            | #{moment(piece.addtime).format('YYYY-MM-DD')}
          .by
            if piece.author_name
              | —— #{piece["author_name"]}
            if piece["work_title"]
              | 《#{piece["work_title"]}》
          .info
            if piece["private"]
              .private
                i.icon-lock-closed
            if piece["pics"]
              .image
                i.icon-image
            .addtime
              if addtime in piece && !!piece.addtime
                | piece.addtime