extends layout
block variables
  - var name = "piece";
  - var liked_str = liked ? "liked" : "";
block content
    div(class=["piece",pics?"withpic":""])
      .piece-inner
        .piece-main
          .card
            .content #{piece.content.replace('\n','<br />')}
            if piece.author_name || piece.work_title
              .by
                if piece.author_name
                  | —— #{piece.author_name}
                if piece.work_title
                  | 《#{piece.work_title}》
            if piece.pics
              .pics
                a.last(href="javascript:;")
                  .icon-chevron-left
                ul
                  each pic in piece.pics
                    li
                      a(href="#{config.cdn_host}/#{pic}",target="_blank",title="查看全图")
                        img(src="#{config.cdn_host}/#{pic}")
                a.next(href="javascript:;")
                  i.icon-chevron-next
            .favs
              a.like-wrap
                i(class=["icon-heart",liked_str],data-id="#{piece.id}")
              .people
                ul(class=[(!user || liked) ? "liked" : ""])
                  if user
                    li
                      a(href="/people/#{user.id}")
                        img(src="#{user.avatar}")
                  each faver in favers
                    if !user || user.id != faver.id
                      li
                        a(href="people/#{faver.id}")
                          img(src="#{faver.avatar}")
                  if fav_count > 8
                    .fav-count
                      | 等
                      span.count #{fav_count}
                      | 人喜欢
            if piece.link
              a.link.icon-export(target="_blank",href="#{piece.link}")
